.logoutMenuItem {
  color: #444444;
}
.logoutMenuItem:hover {
  color: #007df1;
}
.mobile {
  opacity: 0;
}
.nonmobile {
  opacity: 1;
}
.nonmobileT {
  opacity: 1;
  font-size: 30px;
  padding-left: 10px,
}

.bothmobile {   
   position: absolute;
  left: 12vw;
  top: 120px;
  padding-left: 10%;
  padding-right: 10%;
}
@media screen and (max-width: 1111px) {
  .bothmobile {
    padding-left: 10%;
    padding-right: 10%;
  }
}
@media screen and (max-width: 320px) {
  .bothmobile {
    padding-left: 12%;
    /* padding-right: 0%; */
  }
  .buttonF{
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 783px) {
  .mobile {
    opacity: 1;
  }
  .nonmobile {
    opacity: 0;
  }
  .nonmobileT {
    opacity: 0;
    font-size: 0;
    padding-left: -10px;
  }
  .nonmobileP{
    padding-left: 20px;
    padding-top: 20px;
  }
  .nonmobileSi{
    /* min-width: 30px !important;
    max-width: 30px !important; */
  }
}

.loaderY22{    
  background-color: #001529;
  
    color: #bdbdbd;
    height: 64px;
    width: 93px;
    display: flex;
    border: 0px solid;
    align-items: center;
    justify-content: center;
    margin-left: -10px;
}

.loaderY22:hover{
  background-color: #2196f3;
  color: white;

}

/* . */